.my-button {
	background-color: unset;
	border: none;
	color: white;
	margin-top: 18px;
	margin-right: 20px;
	cursor: pointer;
	transition: transform 0.3s;
}

.my-button:hover{
	transform: scale(1.3);
}

.btnDelete-allCompletedTodo {
	transition-duration: 2000ms;
	color: black; /* Установите цвет по умолчанию */
  }
  
  .btnDelete-allCompletedTodo:hover {
	color: red; /* Изменение цвета при наведении */
  }

.btnDelete-allTodo:hover {
	color: grey
}