.App {
	/* text-align: center; */
	width: 600px;
	background-color: yellowgreen;
	margin: 100px auto;
	border-radius: 20px;
	min-height: 600px;
	box-shadow: 1px 17px 15px 3px rgba(0,0,0,0.47);
}

.app-title {
	text-align: center;
	color: white;
	padding-top: 20px
}

.completedTodos-count{
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 20px
	/* margin-bottom: 20px; */
	/* border: ; */
}


